####################################################
# Node Modules
####################################################

node_modules
npm-debug.log

####################################################
# Git
####################################################

.git
.gitignore
.github

####################################################
# Documentation
####################################################

README.md
LICENSE

####################################################
# Environment Files
####################################################

.env
.env.*
app/.env

####################################################
# IDE Files
####################################################

.vscode
.idea

####################################################
# macOS
####################################################

.DS_Store

####################################################
# Logs
####################################################

logs
*.log

####################################################
# Docker
####################################################

docker-compose.yml

####################################################
# Temporary Files
####################################################

tmp
temp

####################################################
# Test Reports
####################################################

coverage
reports

####################################################
# Miscellaneous
####################################################

*.md
